Repository wbern/platformer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

Migrate from Next.js to Vite and set up GitHub Pages deployment
  .github/workflows/deploy.yml
  .gitignore
  .lintstagedrc.json
  src/App.tsx
  src/systems/SpawnSystem.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.d.ts
  vite.config.js
Due: eslint --fix, prettier --write, tsc --noEmit

Change to tsc-files
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix asset loading for GitHub Pages deployment
  src/entities/Background.tsx
  src/entities/Bunny.tsx
  src/entities/Platform.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix imports, remove /platformer path
  src/assets/background.jpg
  src/assets/bunny.png
  src/assets/platform.png
  src/entities/Background.tsx
  src/entities/Bunny.tsx
  src/entities/Platform.tsx
  vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Add TanStack Router and restructure site
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/App.tsx
  src/Game.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/platformer.tsx
  vite.config.js
  vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix client-side routing on GitHub Pages
  .github/workflows/deploy.yml
  public/404.html
Due: none

add storybook for unit testing
  .claude/settings.local.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/VelocityComponent.ts
  src/constants.ts
  src/stories/BunnyJump.stories.tsx
  src/systems/JumpSystem.ts
  vite.config.ts
  vitest.shims.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Add root redirect to william.bernting.se
  .github/workflows/deploy.yml
  .gitignore
  404.html
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix BunnyJump story type error blocking deploy
  src/stories/BunnyJump.stories.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

docs: add CLAUDE.md with project gotchas (vite shadow, 404 entry, deploy quirks)
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  tsc --noEmit: any of: *.{ts,tsx}
